



@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body{
    background: hsl(0, 0%, 81%);
    font-family:   "Barlow Semi Condensed", sans-serif;
    
    
    
    
}
  .container{

  display: grid;
  grid-template-columns: 20% 20% 20% 20% ;
  grid-template-rows: 45% 44%;
  gap: 1.2rem;
  grid-template-areas: "tesimonials_1 tesimonials_1 tesimonials_2 tesimonials_3" 
                     "tesimonials_4 tesimonials_5 tesimonials_5 tesimonials_3";
   place-content: center;
    height: 100vh;
  
                         

   
  }


  .tesimonials_1{
    background-color:hsl(263, 55%, 52%);
    grid-area: tesimonials_1;
    border-radius: 20px;
    
    
    
    

    



  }
  .tesimonials_1 .quotation {
    position:absolute;
    left: 35%;
    
    
  }

  .Avatar{
    margin: 20px;
    display: flex;
    gap: 0.5rem;
    
  }

  .Avatar img{
    border-radius: 50%;
    
    
  }

  .text_avatar{
    margin-top: 10px;
  }



  .tesimonials_2{
    background: hsl(217, 19%, 35%);
    grid-area: tesimonials_2;
    border-radius: 20px;

    
  }

  .tesimonials_3{
    background:  hsl(0, 0%, 100%);
    grid-area: tesimonials_3;
    border-radius: 10px;
    
   
   
  }


  .tesimonials_3 p{
    color: hsl(219, 29%, 14%);
  } 

  .tesimonials_3 h5{
   color: hsl(219, 29%, 14%);
  }

  .tesimonials_3 h3 {
    color: hsl(219, 29%, 14%);
  }





  .tesimonials_4{
    background: hsl(0, 0%, 100%);
    grid-area: tesimonials_4;
    border-radius: 20px;
    
    
  }

  .tesimonials_4 p{
    color: hsl(219, 29%, 14%);
  } 

  .tesimonials_4 h5{
   color: hsl(219, 29%, 14%);
  }

  .tesimonials_4 h3 {
    color: hsl(219, 29%, 14%);
  }

 

  .tesimonials_5{
    background: hsl(219, 29%, 14%);
    grid-area: tesimonials_5;
    border-radius: 20px;
  }


  p{
    font-size: 13px;
    color: hsl(0, 0%, 81%);
  }

  h5,h3{
    color: hsl(210, 46%, 95%);
    z-index: 1;
  }


  .description_text{
    margin-left: 20px;
    margin-top:-10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }


   @media (max-width:1100px){

    
    .container{
      display: flex;
      flex-direction: column;
      margin: 10px;
      height: auto;
    
    }
    .tesimonials_3{
      height: auto;
      order: 5;
    }
    @media (max-width:1101px){
    .tesimonials_1 .quotation{
   position: absolute;
   left: 70%;
   
      
    }
   
    @media (max-width:375px){
      .tesimonials_1 .quotation{
     position: absolute;
     left: 60%;
         
   
   }

  
  }
}}